@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@layer components {
  .button {
    @apply text-xl  bg-amber-300 text-gray-700 font-bold px-6 lg:px-3 py-2.5 rounded-lg hover:bg-amber-400;
  }
}

.color {
  @apply bg-zinc-300;
}
